name: Test

on: push

jobs:
  test:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ ubuntu-latest, windows-latest, macOS-latest ]
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          submodules: true
          ref: ${{ github.event.pull_request.head.sha }}

      # Install required tools
      - name: Set up Java
        uses: actions/setup-java@v3
        with:
          distribution: "temurin"
          java-version: "16"

      - name: Clone core library
        run: git clone https://github.com/attiasas/open-interactive-simulation-core.git core-repo

      - name: Build and publish local core library
        run: |
          cd core-repo
          ./gradlew publishToMavenLocal
          cd ..

      # Run tests
      - name: Tests on macOS, Linux
        run: ./gradlew clean check
        if: runner.os != 'Windows'
      - name: Tests on Windows
        run: ./gradlew.bat clean check
        if: runner.os == 'Windows'

      # Stop Gradle daemon
      - name: Stop Gradle
        run: ./gradlew --stop